.App {
  max-width: 600px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: relative;
  /* height: 500px; */
  background-color: hsl(226, 84%, 75%);
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  background-image: url(./adult-elder-elderly-432722.jpg);
  filter: opacity(40%) grayscale(1);
}

.headerContent {
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1;
  padding: 20px 20px 0 20px;
  font-weight: 600;
  color: hsl(225, 26%, 15%);
}

.headerSubContent {
  position: relative;
  font-size: 24px;
  text-align: left;
  max-width: 30em;
  margin: 0 auto;
  padding: 100px 20px;
  font-weight: 700;
  line-height: 1.3;
  color: hsl(226, 27%, 19%);
}

.contentSection h2 {
  margin: 20px 20px 0 20px;
}
.contentSection p {
  font-size: 20px;
  margin: 0 20px 20px 20px;
}
.rewardExamples {
  display: flex;
  flex-basis: 300px;
  overflow: auto;
  flex: 1;
}
.rewardExample {
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  margin: 20px;
}

.overWrapper {
  position: relative;
  margin: -60px 20px 20px 20px;
  background: #fff;
  border-radius: 20px;
}

.signUpBar > *:first-child {
  margin-right: 20px;
}

.signUpBar {
  display: flex;
}

.signUpForm {
  padding: 40px;
}
